body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
    margin: 15px;
    padding: 1%;
}
header {
    background-color: Grey;
    padding: 10px 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
a {
    font-weight: bold
}
.intro {
    background-color: darkred;
    line-height: 2;
}
.example-link {
    color: white;
}
.example-button {
    background-color: red;
    color: white;
    font-weight: bold
    ;
}
.example-button:hover {
    background-color:  orange;
}